# ============================================================
# FICHIER D'EXEMPLE — Copiez ce fichier en .env et remplissez
# cp .env.example .env
# ⚠️ NE JAMAIS COMMITTER le fichier .env sur GitHub !
# ============================================================

# Django
DEBUG=True
SECRET_KEY=votre-secret-key-ici

# WhatsApp (Meta API)
WHATSAPP_VERIFY_TOKEN=votre-verify-token-ici
WHATSAPP_TOKEN=votre-token-meta-api-ici
WHATSAPP_PHONE_NUMBER_ID=votre-phone-number-id-ici

# Groq (IA / LLaMA)
GROQ_API_KEY=votre-cle-groq-ici
